/* Color Theme Swatches in Hex */
$red_color: #D93250;
$green_color: #6AB187;
$green_check_color: #a8ed86;
$purple_color: #38208C;
$gray_color: #465362;
$light_purple: lighten($purple_color, 10%);
$darker_purple: darken($purple_color, 10%);
$blue_color: #20948B;
$yellow_color: #F4CC70;
$orange_color: #DE7A22;
$content_background: #1A1B41;
$white: #E8E8EC;
