@import '../node_modules/bulma/bulma.sass';
@import './assets/scss/variables';
@import './assets/scss/icons';

.miniseo {

  max-width: 500px;
  min-width: 500px;
  max-height: 600px;
  min-height: 600px;
  overflow: hidden;
  box-shadow: 0 0 3px $purple_color;
  border-radius: 0 0 10px 10px;
  background: $content_background;

  .app-navbar {
    background: $purple_color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $light_purple, $purple_color, $darker_purple);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $light_purple, $purple_color, $darker_purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .3rem;
    justify-content: space-between;
    border-bottom: 1px solid $white;
    overflow: hidden;

    .navbar-item {
      width: 500px;
      justify-content: center;
    }

    img {
      max-height: unset;
      position: absolute;

      &.icon {
        height: 80px;
        width: 75px;
      }
    }
  }

  .main-section {
    padding-top: 1rem;
    color: $white;
  }

  .switcher {
    margin-top: 15px;
  }

  .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 380px;
    padding-right: 5px;
  }

  .card {
    color: $white;

    .card-header-icon {
      cursor: unset;
    }

    .score {
      font-size: 25px;
      font-weight: bold;
    }

    table {
      background: transparent;
      margin-top: 10px;
      overflow: hidden;

      td, th{
        border-color: darken($white, 17);
        max-width: 260px;

        p {
          word-wrap: break-word;
        }
      }
    }

    &.green {
      background: $green_color;

      .card-header {
        background: darken($green_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }

      .card-content {
        table, th {
          color: $white;
        }
      }
    }

    &.orange {
      background: $orange_color;

      .card-header {
        background: darken($orange_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }
      .card-content {
        table, th {
          color: $white;
        }
      }
    }

    &.gray {
      background: $gray_color;

      .card-header {
        background: darken($gray_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }

      .card-content {
        table, th {
          color: $white;
        }
      }
    }

    &.yellow {
      background: $yellow_color;
      color: darken($white, 50);

      .card-header {
        background: darken($yellow_color, 3);

        .card-header-title {
          justify-content: center;
          color: darken($white, 50);
          font-weight: bold;
        }
      }
    }

    &.blue {
      background: $blue_color;

      .card-header {
        background: darken($blue_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }

      .card-content {
        table, th {
          color: $white;
        }
      }
    }
  }
}
