@import '../node_modules/bulma/bulma.sass';
@import './assets/scss/icons';

/* Color Theme Swatches in Hex */
$red_color: #D93250;
$green_color: #6AB187;
$purple_color: #38208C;
$light_purple: lighten($purple_color, 10%);
$darker_purple: darken($purple_color, 10%);
$blue_color: #20948B;
$yellow_color: #F4CC70;
$orange_color: #DE7A22;
$content_background: #1A1B41;
$white: #E8E8EC;

.miniseo {

  max-width: 500px;
  min-width: 500px;
  max-height: 600px;
  min-height: 600px;
  overflow: hidden;
  box-shadow: 0 0 3px $purple_color;
  border-radius: 0 0 10px 10px;
  background: $content_background;

  .app-navbar {
    background: $purple_color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $light_purple, $purple_color, $darker_purple);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $light_purple, $purple_color, $darker_purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .3rem;
    justify-content: space-between;
    border-bottom: 1px solid $white;
    overflow: hidden;

    .navbar-item {
      width: 500px;
    }

    img {
      max-height: unset;
      position: absolute;

      &.icon {
        height: 80px;
        width: 75px;
      }

      &.text-icon {
        right: 150px;
      }
    }
  }

  .main-section {
    padding-top: 2rem;
    color: $white;
  }

  .switcher {
    margin-top: 15px;
  }

  .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 380px;
    padding-right: 5px;
  }

  .card {
    color: $white;

    &.green {
      background: $green_color;

      .card-header {
        background: darken($green_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }
    }

    &.orange {
      background: $orange_color;

      .card-header {
        background: darken($orange_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }
    }

    &.yellow {
      background: $yellow_color;
      color: darken($white, 50);

      .card-header {
        background: darken($yellow_color, 3);

        .card-header-title {
          justify-content: center;
          color: darken($white, 50);
          font-weight: bold;
        }
      }
    }

    &.blue {
      background: $blue_color;

      .card-header {
        background: darken($blue_color, 3);

        .card-header-title {
          justify-content: center;
          color: $white;
          font-weight: bold;
        }
      }
    }
  }
}
