/*
* Custom scrollbar
*/
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9d7e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #422d8f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a4898;
}
